.rfp-button-wrap {
    position: fixed;
    z-index: 9999;

    .rfp-button {
        padding: 20px 40px;
        text-decoration: none;
        position: static;
        line-height: 1;
        display: inline-block;
        background-color: black;
        color: white;
        transition: 0.3s all ease;

        &:hover {
            filter: brightness(110%);
        }

        &.active {
            opacity: 0;
        }
    }

    &.left,
    &.right {
        .rfp-button {
            padding: 40px 20px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    &.bottom-left {
        left: 0;
        bottom: 0;
        pointer-events: none;

        .rfp-button {
            border-top-right-radius: 3px;
            pointer-events: all;
        }
    }

    &.bottom-right {
        right: 0;
        bottom: 0;
        pointer-events: none;

        .rfp-button {
            border-top-left-radius: 3px;
            pointer-events: all;
        }
    }

    &.bottom {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        pointer-events: none;

        .rfp-button {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            pointer-events: all;
        }
    }

    // &.left {
    //     left: 0;
    //     top: 50%;
    //     text-align: center;
    //     // transform: rotate(90deg) translateY(50%);

    //     > a {
    //         margin: 0;
    //     }
    // }

    // &.right {
    //     right: 0;
    //     top: 50%;
    //     text-align: center;
    //     // transform: rotate(-90deg) translateY(50%);

    //     > a {
    //         margin: 0;
    //     }
    // }

    &.left {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: flex;

        > a {
            writing-mode: vertical-lr; /* Rotates the text 90deg */
            // transform: rotate(-180deg); /* Fixes the rotation direction */
            white-space: nowrap; /* Prevents text from wrapping */
            margin: 5px 0; /* Adjust the margin as needed */
        }
    }

    &.right {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: flex;

        > a {
            writing-mode: vertical-rl; /* Rotates the text 90deg */
            transform: rotate(-180deg); /* Fixes the rotation direction */
            white-space: nowrap; /* Prevents text from wrapping */
            margin: 5px 0; /* Adjust the margin as needed */
        }
    }
}
